{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Tienda Online</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Squadfree - v4.11.0
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div
        class="container d-flex align-items-center justify-content-between position-relative"
      >
        <div class="logo">
          <!-- <h1 class="text-light"><a href="index.html"><span>Squadfree</span></a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="http://127.0.0.1:8000/">Tienda Online</a>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="http://127.0.0.1:8000/"
                >Inicio</a
              >
            </li>
            <li>
              <a
                class="nav-link scrollto"
                href="http://127.0.0.1:8000/#portfolio"
                >Articulos</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="http://127.0.0.1:8000/gestion/"
                >Gestion Artículos</a
              >
            </li>
            <li><a class="nav-link scrollto" href="/mostrarClientes/">Clientes</a></li>
            <li>
              <a class="nav-link scrollto" href="/clientes/"
                >Gestion Clientes</a
              >
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <div class="col-lg-6 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap" align="center">
          <div class="portfolio-info">
            <br />
            <div class="card" style="width: 24rem">
              {% if articulo.foto_articulo %}
            <img class="card-img-top" src="{{ articulo.foto_articulo.url }}" alt="Foto del articulo">
          {% else %}
          <img class="card-img-top" src="{% static 'img/persona01.jpg' %}" alt="Foto de perfil predeterminada">
          {% endif %}
              <div class="card-body">
                <h3 class="card-title">{{articulo.nombre}}</h3>
                <h5>Seccion: {{articulo.seccion}}</h5>
                <h2>Precio: {{articulo.precio}}</h2>
                
                <p class="card-text">
                  Descripcion: {{ articulo.descripcion }}
                </p>
                <a href="http://127.0.0.1:8000/#portfolio" class="btn btn-primary">Regresar</a>
              </div>
            </div>
          </div>
        </div>
        <br><br><br>
      </div>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Tienda Online</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
